<template>
    <div class="vh-100 m-3 d-flex flex-wrap align-content-center justify-content-center align-items-center">
        <Contact />
    </div>
</template>

<script setup>
import { onMounted } from "vue"

// import { useStore } from "vuex"
import uStore from "@/store/user/user.pinia"

import Contact from '@/components/ContactView.vue'

// const userStore = useStore()
const userStore = uStore()

// onMounted(() => userStore.dispatch('getUserAction'))
onMounted(() => userStore.getUserAction())
</script>