<template>
    <template v-for="d of data">
        <div class="d-flex m-2 border">
            <div class="d-flex align-items-center">
                <img :src="d.avatar" :alt="`Photo ${d.fullName}`">
            </div>
            <div class="m-3 content d-flex flex-column justify-content-center">
                <h4>{{ d.fullName }}</h4>
                <h6>{{ d.email }}</h6>
            </div>
        </div>
    </template>
</template>

<script setup>

import { computed } from "vue"

// import { useStore } from "vuex"
import uStore from "@/store/user/user.pinia"

// const userStore = useStore()
const userStore = uStore()

// const data = computed(() => userStore.getters.getUserStore)
const data = computed(() => userStore.getUserStore)
</script>